<table class="table">
  <thead>
    <tr>
      {% for item in boards[0] %}
        {% if item=="url" %}
          <!-- do nothing -->
        {% else %}
          <th scope="col">{{item}}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for board in boards %}
    <tr>
      {% for k,v in board.items() %}
        {% if k== "Status" %}
          {% if v=="Pass" %}
            <td><span>&#9989;</span></td>
          {% else %}
            <td><span>&#10060;</span></td>
          {% endif %}
        {% elif k== "Board" %}
          {% set a = 'board/'+v %}
          <td><a href={{a}}>{{v}}</a></td>
        {% elif k== "Online" %}
          {% if v %}
          <td>Yes</td>
          {% else %}
          <td></td>
          {% endif %}
        {% elif k in ["Jenkins Project Name",
                      "Jenkins Build Number",
                      "HDL Commit",
                      "Linux Commit"]
        %}
          {% if not board['url'][k] == "NA" %}
            <td><a href={{board['url'][k]}}>{{v}}</a></td>
          {% else %}
            <td>{{v}}</td>
          {% endif %}
        {% elif k== "url" %}
            <!-- do nothing -->
        {% else %}
          <td>{{v}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
