<h1><center>{{board_name}}</center></h1>
<table class="table">
    <thead>
      <tr>
        {% for item in boards[0] %}
          {% if item=="url" %}
            <!-- do nothing -->
          {% else %}
            <th scope="col">{{item}}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr>
        {% for k,v in board.items() %}
          {% if k== "Status" %}
            {% if v=="Pass" %}
              <td><span>&#9989;</span></td>
            {% else %}
              <td><span>&#10060;</span></td>
            {% endif %}
          {% elif k in ["Linux Tests"] %}
            <td style="font-size: small">
              <a href={{board['url'][k]}}>
                {% set dmesg_bg = 'bg-danger' %}
                {% set drivers_bg = 'bg-danger' %}
                {% if v.dmesg_errors == "0" %}
                  {% set dmesg_bg = 'bg-success' %}
                {% endif %}
                {% if v.drivers_missing == "0" %}
                  {% set drivers_bg = 'bg-success' %}
                {% endif %}
                dmesg errors <br><span class="badge rounded-pill {{dmesg_bg}}">{{v.dmesg_errors}}</span><br>
                missing drivers <br><span class="badge rounded-pill {{drivers_bg}}">{{v.drivers_missing}}</span>
              </a>
            </td>
            {% elif k in ["pyadi Tests"] %}
            <td style="font-size: small">
              <a href={{board['url'][k]}}>
                {% set fail_bg = 'bg-danger' %}
                {% if v.fail == "0" %}
                  {% set fail_bg = 'bg-success' %}
                {% endif %}
                pass <br><span class="badge rounded-pill bg-success">{{v.pass}}</span><br>
                fail <br><span class="badge rounded-pill {{fail_bg}}">{{v.fail}}</span>
              </a>
            </td>
          {% elif k in ["Jenkins Project Name",
                        "Jenkins Build Number",
                        "HDL Commit",
                        "Linux Commit"]
          %}
            {% if not board['url'][k] == "NA" %}
              <td><a href={{board['url'][k]}}>{{v}}</a></td>
            {% else %}
              <td>{{v}}</td>
            {% endif %}
          {% elif k== "url" %}
            <!-- do nothing -->
          {% else %}
            <td>{{v}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  